* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans";
  /* display: flex; */
  /* background-color: red; */
}

/*Navigation bar*/
nav {
  background: rgba(111, 106, 247, 1);
  height: 20vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
}
label.logo {
  color: rgba(255, 255, 255, 1);
  font-size: 61.43px;
  font-weight: 700;
  font-family: "Delius Unicase";

  line-height: 20vh;
  padding: 0 100px 0 30px;
}
nav ul {
  float: right;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
nav ul li {
  line-height: 20vh;
  margin: 0 5px;
  font-size: 36.43px;
}
nav ul li a {
  color: rgba(255, 255, 255, 1);
  padding: 7px 13px;
  border-radius: 3px;
}
a:active,
a:hover,
.dropdown-content a:hover {
  transition: 0.5s;
  background-color: rgb(157, 152, 243);
}
.dropbtn {
  background: none;
  color: white;
  padding: 7px 13px;
  font-size: 36.43px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 7px 13px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: rgb(157, 152, 243);
}

/* form.search {
  position: relative;
  background-color: white;
  border-radius: 50px;
  max-height: 57px;
} */
input#search {
  position: relative;
  padding: 10px;
  padding-left: 20px;
  border: none;
  font-size: 31.81px;
  border-radius: 30px;
}

button#search {
  top: 39%;
  right: 6%;
  position: absolute;
  background: none;
  font-size: 31.81px;
  border: none;
  color: #797979;
  cursor: pointer;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 20vh;
  margin-right: 10px;
  cursor: pointer;
  display: block;
}
#check {
  display: none;
}

@media (max-width: 1300px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 17px;
  }
  .dropbtn {
    font-size: 17px;
  }
  input#search {
    position: relative;
    max-width: 200px;
    margin: auto;
    font-size: 17px;
  }
  /* form.search {
    max-height: 40px;
  } */
  button#search {
    position: absolute;
    font-size: 17px;
    top: 50%;
  }
}
@media (max-width: 894px) {
  .checkbtn {
    display: block;
  }
  form.search {
    display: none;
  }
  nav ul {
    flex-direction: column;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(104, 99, 255);
    top: 20vh;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    font-size: 21px;
  }
  .dropbtn {
    font-size: 21px;
  }

  a:hover,
  a:active {
    background: none;
    color: rgb(0, 0, 0);
  }
  #check:checked ~ ul {
    left: 0%;
  }
}
/* Navbar end*/

img#help {
  position: fixed;
  bottom: 0;
  right: 0;
}

div.contents {
  position: relative;
  padding: 240px 40px 0 40px;
  max-width: 100%;
  margin: 15px;
}
img#img4 {
  position: absolute;
  filter: drop-shadow(4px 7px 32px rgba(0, 0, 0, 0.44));
}
div.About {
  position: absolute;
  margin-left: 500px;
  max-width: 80%;
  background-color: rgba(229, 216, 255, 1);
  height: 507px;
  border: 6px solid #ffffff;
  box-shadow: inset 3px 5px 27px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
  font-size: 26px;
  color: rgba(111, 115, 115, 1);
}

img#social {
  position: -webkit-sticky; /* for browser compatibility safari*/
  position: sticky;
  float: right;
  top: 300px;
  z-index: 1;
}

/* 4 boxes*/
div.boxes {
  position: relative;
  top: 620px;
  /* border: #797979;
  border-style: dashed; */
  display: flex;
  margin: 20px;
}

div.boxes > div {
  padding: 20px;
  margin: 0 20px;
  /* border: solid; */
  width: 337px;
  color: #ffffff;
}

div.boxe1 {
  background: #929dff;
  box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
  border-radius: 11px;
}
div.boxe2 {
  background: rgba(115, 76, 242, 1);
  box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
  border-radius: 11px;
}
div.boxe3 {
  background: rgba(210, 136, 255, 1);
  box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
  border-radius: 11px;
}
div.boxe4 {
  background: rgba(0, 0, 0, 1);
  box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.4);
  border-radius: 11px;
}

/*Information*/
div.Information {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: none;
  background: rgba(72, 62, 255, 1);

  top: 800px;
  margin: 20px;
  padding: 20px;
  font-size: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 22px;
}
div.about {
  padding: 10px;
  padding-top: 40px;
  /* border: solid; */
  margin: 10px 70px 10px 70px;
  width: 397px;
  height: 133px;
  font: 35px;

  background: #bce0f6;
  box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.39);
  border-radius: 22px;
}
div.settings {
  padding: 10px;
  padding-top: 40px;

  border: white;
  border: solid;
  border-radius: 22px;

  margin: 10px 70px 10px 70px;
  width: 397px;
  height: 133px;
  font: 35px;
  color: white;
}
div.bookmark {
  padding: 10px;
  padding-top: 40px;

  border: white;
  border: solid;
  border-radius: 22px;

  margin: 10px 70px 10px 70px;
  width: 397px;
  height: 133px;
  font: 35px;
  color: white;
}
div.self-info {
  position: relative;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  border: none;
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  color: rgba(4, 40, 90, 1);
  border-radius: 22px;
}
form.Information {
  padding: 40px;
  text-align: left;
  margin-bottom: 60px;
  /* display: flex;
  flex-direction: column; */
}
label {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 28px;
  font-weight: 500;
}
label > input {
  font-size: 24px;
  border: none;
  font-weight: 400;
}
div.self-info img {
  position: absolute;
  right: 0;
}

button#Next {
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #000000;
  border-radius: 9px;
  color: white;
}
